@-webkit-keyframes changePage {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes changePage {
  from {
    opacity: 0;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes overlayOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes overlayOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@-webkit-keyframes overlayClose {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

@keyframes overlayClose {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

#article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1800px;
}

.article__box:nth-child(4) {
  max-width: 100%;
}

.article__box__lien {
  width: 50%;
}

.article__box__img {
  height: 100%;
}

.article__box__info {
  opacity: 1;
  overflow: initial;
}

.article__box__info__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.article__box__info__description {
  margin-top: 10%;
  color: #e7e6e1;
}

.article__box__info__achat {
  font-family: 'Alegreya', Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 12%;
}

.article__box__info__achat__prix {
  font-size: 1.5rem;
  font-weight: bold;
}

.article__box__info__achat__panier__btn {
  padding: 10px;
  color: #314e52;
  background-color: #f2a154;
  border: solid 1px #f2a154;
  cursor: pointer;
}

.article__box__info__achat__panier__btn:hover {
  opacity: 0.75;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.article__box__info__achat__panier__choix {
  height: 35px;
}

.article__box:hover > .article__box__img {
  width: 50%;
}

.article__box:hover > .article__box__info {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #article {
    height: initial;
  }
  .article__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
  }
  .article__box__img {
    height: 45%;
  }
  .article__box:hover > .article__box__img {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .article__box {
    height: 450px;
  }
  .article__box__info__achat__prix {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 375px) {
  .article__box__info__description {
    font-size: 0.9rem;
  }
  .article__box__info__achat__prix {
    margin-top: 6px;
    font-size: 1rem;
  }
  .article__box__info__achat__panier__btn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 320px) {
  .article__box__info__name {
    font-size: 1.3rem;
  }
  .article__box__info__achat__prix {
    margin-top: 8px;
    font-size: 0.7rem;
  }
  .article__box__info__achat__panier__btn {
    font-size: 0.6rem;
  }
}
/*# sourceMappingURL=products.css.map */