// Changement de page 

@keyframes changePage {
    from {
        opacity: 0;
    }

    20% {
        opacity: 0.1;
    }

    40% {
        opacity: 0.6;
    }

    60% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

@keyframes overlayOpen {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}

@keyframes overlayClose {
    from {
        opacity: 0.9;
    }

    to {
        opacity: 0;
    }
}