// Pour les fonts 
@mixin fonts {
  font-family: 'Alegreya', Arial, Helvetica, sans-serif;
}

// Pour placer un element au centre 
@mixin flexmid {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animationPanier { 
  background-color: #fff;
  color: black;
  cursor: pointer;
  transition: all 400ms;
}


@mixin animationBtn1 {
  background-color: black;
  color: #fff;
  transition: all 200ms;
}

