// Pour les fonts 
@mixin fonts {
  font-family: 'Alegreya', Arial, Helvetica, sans-serif;
}

// Pour placer un element au centre 
@mixin flexmid {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin animationPanier { 
  background-color: $primary-color;
  color: $secondary-color;
  cursor: pointer;
  transition: all 400ms;
}


@mixin animationBtn1 {
  background-color: $secondary-color;
  color: $primary-color;
  transition: all 400ms;
}

