// =============== Variable ============== //
$primary-color: #f2a154; 
$secondary-color: #314e52;
$grey-color: #e7e6e1;
$white-color: #f7f6e7;

// =============== Import ============== //

@import 'mixin.scss', 'animation.scss';


// =============== MAIN ============== //

    // ~~~~~~~~~~~ ARTICLE ~~~~~~~~~~~ //

#article {
    display: flex;
    flex-direction: column;
    height: 1800px;
}

.article__box {
    &:nth-child(4) {
        max-width: 100%;
    }

    // Setting des parametres dans la box

    &__lien {
        width: 50%;
    }

    &__img {
        height: 100%;
    }

    &__info {
        opacity: 1;
        overflow: initial;

        &__name {
            @include flexmid;
            font-size: 1.5rem;
        }

        &__description {
            margin-top: 10%;
            color: $grey-color;
        }

        &__achat {
            @include fonts;
            display: flex;
            justify-content: space-around;
            margin-top: 12%;

            &__prix {
                font-size: 1.5rem;
                font-weight: bold;
            }

            &__panier {
                &__btn {
                    padding: 10px;
                    color: $secondary-color;
                    background-color: $primary-color;
                    border: solid 1px $primary-color;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.75;
                        transition: all 400ms;
                    }
                }

                &__choix {
                    height: 35px;
                }
            } 
        }
    }

}  

// Annuler les effets 
.article__box:hover > .article__box__img {
    width: 50%;
  }
  
  .article__box:hover > .article__box__info {
    opacity: 1;
  }


// ===== MEDIA QUERY ===== //

@media screen and (max-width: 768px) {

    #article {
        height: initial;
    }
    
    .article__box {
        flex-direction: column;
        height: 600px;

        &__img {
            height: 45%;
        }
    }

    .article__box:hover > .article__box__img {
        width: 100%;
      }
}

@media screen and (max-width: 425px) {

    .article__box {
        height: 450px;
    }

    .article__box__info__achat__prix {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 375px) {

    .article__box__info__description {
        font-size: 0.9rem;
    }

    .article__box__info__achat__prix {
        margin-top: 6px;
        font-size: 1rem;
    }

    .article__box__info__achat__panier__btn {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 320px) {

    .article__box__info__name {
        font-size: 1.3rem;
    }

    .article__box__info__achat__prix {
        margin-top: 8px;
        font-size: 0.7rem;
    }

    .article__box__info__achat__panier__btn {
        font-size: 0.6rem;
    }
}