@import 'mixin.scss';

// =============== MAIN ============== //

main {
    padding: 20px;
}

.product {
    display: flex;

    // Setting image 
    &__img {
        height: 600px;
        width: 35%;
        box-shadow: 2px 2px 20px -8px;
        border-radius: 5px;
    }
    
    // Setting article
    &__article {
        width: 65%;
        height: 600px;
        padding: 20px 10px;
        margin-left: 20px;
        box-shadow: 2px 2px 20px -8px;
        border-radius: 5px;
    
        &__title {
            @include flexmid;
            font-size: 2rem;
            margin: 5px 0;
        }
    
        &__description {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 30px;
            padding-top: 20%;


    
            &__text {
                flex: 1;
                font-size: 1.5rem;
            }
    
            &__prix {
                @include fonts;
                flex: 1;
                margin-top: 10%;
                font-size: 1.5rem;
                font-weight: bold;
                color: red
            }

            &__btn {
                display: flex;
                margin-top: 5%; 
                width: 100%;
            }
        }
    }
}

// Button Setting
#button-lien {
    margin-left: 60%;
}

#button-panier {
    @include fonts;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: solid 1px black;
    background-color: #fff;
    box-shadow: 0px 0px 5px -2px;
    cursor: pointer;

    &:hover {
        @include animationBtn1;
    }
}

#nombre {
    font-size: 1rem;  
    padding: 10px;
}

#color {
    font-size: 1rem;  
    padding: 10px; 
}
